.array-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 100px;
  top: 50%;
  left: 50%;
}

.array-container-bars {
  position: fixed-bottom;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  position: fixed-top;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 2%;
}

.array-container-buttons {
  position: fixed-top;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 200px;
  margin-bottom: 20px;
}

.array-bar {
  width: 1.6%;
  background-color: black;
  margin: 0 0.1%;
  display: inline-block;
}

.button {
  position: relative;
  margin-top: 2;
  bottom: 1;
}

.border {
  border-right: 1px solid black;
}

#nav-dropdown {
  color: white;
}

#range1 {
  width: 40%;
  /* background-color: aliceblue; */
}
.ml {
  margin-left: 40%;
}

.lwidth {
  width: 60%;
}

.awidth {
  color: white;
  width: 10%;
}

label {
  display: inline-block;
  /* margin-bottom: .5rem; */
}
