.array-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 100px;
}

.array-container-bars {
  position: fixed-bottom;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin-bottom: 10px;
  /* left: 100px; */
}

.array-container-buttons {
  position: fixed-top;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 200px;
  margin-bottom: 20px;
}

.array-bar {
  width: 20px;
  background-color: #007bff;
  margin: 0 1px;
  display: inline-block;
}

.button {
  margin-left: 30px;
  margin-right: 30px;
}

.border {
  border-right: 1px solid black;
}
